<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Sbobyfy | Home</title>
</head>
<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>
    <main class="<%- customClass %>">
        <h1>Sbobyfy API dingens</h1>
        <div class="form">
            <form action="/artist-search" method="get">
                <input type="text" name="query" placeholder="Conway Twitty" required>
                <br>
                <input type="submit" value="Suchen">
            </form>
        </div>
        <div class="muchwow">
            <img src="/images/wow.jpeg" alt="doge">
        </div>
    </main>
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
</body>
</html>